*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(53, 125, 73);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(94, 61, 61);
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    max-width: 600px;
}
h1{
    font-size: 2rem;
   font-weight: bold;
}
.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.user-input-container{
    display: flex;
    justify-content: space-between;
}
#user-input{
    width: 80%;
    padding: 0.3rem;
    border-radius: 10px;
}
#search-btn{
    padding: 0.4rem;
    border-radius: 10px;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid #18c85e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background: conic-gradient(#09dd69 var(--progress-degree,0%),#283a2e 0%);
    flex-direction: column;
}
.cicle span{
    position: relative;
    z-index: 2;
}
.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.stats-cards{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.card{
    background-color: chocolate;
    width: 200px;
    max-width: 290;
    padding: 20px;
    border-radius: 10%;
}
